body {
    padding-top: 50px;
    text-align: center;
}
div.main {
    text-align: center;
}
forum {
	text-align: center;
}
p1{
	font-size: 12pt;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}